/* PRESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul > li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #747474;
}

body{
    font-family: "Montserrat", sans-serif;
}

a:hover{
    color: white;
}

.flex{
    display: flex;
}

/* ---HEADER--- */

header{
    display: flex;
    height: calc(100vh - 70px);
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 1rem;
    font-weight: 500;
    padding-top: 0;
}

div.nav ul li{
    padding-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 700;
}

div.nav i,
div.playlists{
    padding: 0.3rem;
}

div.nav i,
div.user i{
    font-size: 1.2rem;
    position: relative;
    top: 3px;
    color: #747474;
}

section.sidenav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.logo{
    padding: 1rem 1rem 0 0;
}

img.img2{
    display: none;
}

div.playlists{
    margin-top: 1rem;
}

div.playlists h2{
    font-size: 0.8rem;
}

div.playlists i{
    font-size: 2.5rem;
    padding-right: 0.5rem;
}

div.playlists p{
    padding-top: 0.8rem;
}


div.playlists li{
    padding-top: 0.9rem;
    font-size: 0.7rem;
    font-weight: 600;
}

div.user p{
    font-size: 0.6rem;
    padding-bottom: 0.3rem;
    color: #747474;  
}

div.user h2{
    font-size: 0.7rem;
    font-weight: 600;
    padding-top: 0.2rem;
    color: white;
}

div.user i{
    padding-right: 0.5rem;
    color: #747474;
    font-size: 1.2rem;
    padding-top: 0.3rem;
}

div.user hr{
    border: none;
    border-top: 2px solid #333;
    width: 150px;
}


/* ---MAIN--- */

main{
    display: flex;
    flex-direction: column;
    background-color: #141922;
    width: 100vw;
    overflow-x: hidden;
}

section.upgrade button.upgrade{
    margin: 1.5rem 1rem;
}

button.upgrade{
    background-color: #080b12;
    border: solid white 1px;
    color: white;
    padding: 0.6rem 1.7rem;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
}

article p{
    text-align: center;
}

main div.img{
    width: 150px;
    height: 150px;
    margin-bottom: 0.8rem;
}

main h3{
    color: white;
    font-size: .8rem;
    text-align: center;
}

main p{
    color: #747474;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    font-weight: 700;
    margin-left: 0.3rem;
}

section.upgrade{
    background-color: #080b12;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: auto;
}

section.navbar div.navbar{
    padding: 1rem 10rem;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-left: 2rem;
}

div.navbar ul{
    font-weight: 700;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

div.navbar ul li a{
    padding: 1rem;
    font-size: 0.7rem;
}

section.main-content{
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 1250px;
    margin: 1rem;
    padding-left: 200px;
}

h1{
    color: white;
    margin-left: 0.3rem;
}

div.recently-played{
    justify-content: start;
    max-width: 1250px;
    flex-wrap: wrap;
}

article.media{
    flex-direction: column;
    align-items: center;
    margin: 1rem .3rem;
    max-width: 150px;
}

section.for-you{
    margin: 1rem;
    padding-left: 200px;
}

div.for-you{
    justify-content: start;
    align-items: start;
}

section.mainstream{
    margin: 1rem;
    padding-left: 200px;
    margin-bottom: 90px;
}

div.round{
    border-radius: 50%;
}

div.img{
    background-size: cover;
}

#image1{
    background-image: url(../style/img/metal_lifting.jpg);
}

#image2{
    background-image: url(../style/img/stranger.jpeg);
}

#image3{
    background-image: url(../style/img/aquietplace.jpeg);
}

#image4{
    background-image: url(../style/img/split.jpeg);
}

#image5{
    background-image: url(../style/img/cure.jpeg);
}

#image6{
    background-image: url(../style/img/sinister.jpeg);
}

#image7{
    background-image: url(../style/img/radar.jpeg);
}

#image8{
    background-image: url(../style/img/mixdaily.jpeg);
}

#image9{
    background-image: url(../style/img/youg.jpeg);
}

#image10{
    background-image: url(../style/img/einaudi.jpeg);
}




/* ---FOOTER--- */

footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex; 
    z-index: 1;
    justify-content: space-between;
    color: white;
}

i{
    color: #747474;
    padding-right: 1rem;
}

div.song img{
    width: 40px;
    justify-content: center;
    margin: 1rem 0.5rem
}

div.now-playing-info{
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

div.now-playing-info h3{
    color: white;
    font-size: 0.5rem;
}

div.now-playing-info p{
    color: #747474;
    font-size: 0.7rem;
}

div.favourite{
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

section.player{
    flex-direction: column;
    width: 350px;
}

section.player i{
    color: white;
    margin-bottom: 7px ;
}

section.player i.fa-circle-play{
    font-size: 1.5rem;
}

section.player div.player-controls{
    margin-top: 1rem;
    width: 100%;
}

div.buttons{
    padding-left: 90px;
}

div.progression-bar p{
    font-size: 0.5rem;
}

section.volume{
    align-items: center;
}

section.volume i{
    color: white;
    font-size: 0.7rem;
}

footer div.play-bar{
    margin: auto;
    width: 80%;
    height: 4px;
    background-color: #747474;
    border-radius: 1rem;
}


/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    

}

@media all and (max-width: 767px){ 


}
    

@media all and (max-width: 387px){

    /* ---MAIN--- */
    section.main-content{
        padding-left: 50px;
    }

    /* ---HEADER--- */
    header,
    section.sidenav{
        width: 60px;
    }

    img.img1{
        display: none;
    }

    img.img2{
        display: block;
        height: 30px;
        margin-left: 1px;
    }

    div.nav a{
        display: none;
    }

    div.playlists{
        display: none;
    }

    div.user i{
        padding-left: 0.3rem;
    }
    div.user a{
        display: none;
    }

    div.user hr{
        display: none;
    }
}