/* PRESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul > li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #747474;
}

body{
    font-family: "Montserrat", sans-serif;
}

a:hover{
    color: white;
}

.flex{
    display: flex;
}

/* ---HEADER--- */

header{
    display: flex;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
    padding: 1.5rem;
    font-weight: 500;
    padding-top: 0;
}

section.sidenav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

div.logo{
    padding: 1rem;
}

div.user{
    margin-bottom: 60px;
}

/* ---MAIN--- */

main{
    background-color: #141922;
    width: calc(100% - 250px);
    margin: 0 0 0 250px;
}

main div.img{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
}

main h3{
    color: white;
    font-size: .8rem;
}

main p{
    color: #747474;
    font-size: .5rem;
    margin-top: .2rem;
    font-weight: 500;
    margin-left: 0.3rem;
}

section.upgrade{
    background-color: #080b12;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: auto;
}

section.navbar div.navbar{
    padding: 1rem 10rem;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

div.navbar ul{
    font-weight: 700;
    font-size: 0.8rem;
}

div.navbar ul li a{
    padding: 1rem;
    font-size: 0.5rem;
}

section.main-content{
    padding: 1rem;
    justify-content: center;

}

h1{
    color: white;
    margin-left: 0.3rem;
}

div.recently-played{
    justify-content: space-between;
}

article.media{
    flex-direction: column;
    align-items: center;
    margin: 1rem .3rem;
}

section.for-you{
    margin: 1rem;
}

div.for-you{
    justify-content: start;
    align-items: start;
}

section.mainstream{
    margin: 1rem;
}

div.round{
    border-radius: 50%;
}

/* ---FOOTER--- */

footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    display: flex; 
    z-index: 1;
    justify-content: space-between;
    color: white;
}

div.song img{
    width: 45px;
    justify-content: center;
    margin: 1rem 0.5rem
}

div.now-playing-info{
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

div.now-playing-info h3{
    color: white;
    font-size: 0.8rem;
}

div.now-playing-info p{
    color: #747474;
    font-size: 0.7rem;
}

div.favourite{
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

section.player{
    flex-direction: column;
}

section.player div.player-controls{
    justify-content: center;
    margin-top: 1rem;
}


section.volume{
    align-items: center;
}

/* MEDIA QUERIES */

