/* PRESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul > li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* ---HEADER--- */

section.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: #747474;
    overflow-x: hidden;
    padding: 1.5rem;

}